/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body{
  font-family: arial, tahoma;
  font-size: 12px;
  color: #111;
}
h1,h2,h3,h4,h5{
  font-size: 12px;
  font-weight: bold;
  color: #1975D1;
  margin: 0px;
  padding: 6px 0px 2px;
}
h1{
  font-size: 22px;
  color: #2D519B;
}
h2{
  font-size: 18px;
  color: #D69808;
}
h3{
  font-size: 16px;
  color: #D6083B;
}
h4{
  font-size: 14px;
  color: #448C17;
}
h4, h5{
  padding: 2px 0px 0px;
}
